
<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteBase /api
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ https://dev.perooz.io/api/index.php?request=$1 [L]
</IfModule>